aiohttp==3.12.14
fastapi[standard]==0.116.0
markitdown[pdf]==0.1.2
pydantic-settings
pydantic==2.11.7
pytest-asyncio==1.0.0
pytest==8.4.1
python-dotenv
pyvi==0.1.1
elasticsearch[async]==8.19.0
langgraph
slowapi==0.1.9
redis[hiredis]==6.4.0
sqlalchemy[asyncio]==2.0.36
asyncpg==0.30.0
pyjwt==2.10.0
prometheus-fastapi-instrumentator==7.1.0
